* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 1024px;
    margin: 0 auto;
    background: url(../images/pattern.png)
}

header {
    font-family: Georgia, Serif;
    font-size: 20px;
    text-align: center;
}

h1, footer {
    margin: 10px 0;
    background-color: lightskyblue;
    height: 50px;
}

h2 {
    text-align: center;
    font-family: Georgia;
    margin-bottom: 20px;
}

li {
    list-style-type: none;
}

.goal {
    margin: 20px 30px;
}

h3 {
    margin: 10px 0;
    text-align: center;
    height: 40px;
    border-radius: 2px;
    background-color: lightblue;
    padding-top: 10px;
    
}

main {
    padding: 0 80px;
}

footer {
     text-align: right;
     padding: 35px 5px 0 0;
     font-size: 7pt;
}
